body {
	background-color: #f2f2f2;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
}

.nav-gche {
	margin-top: 29%;
    margin-left: -15px;
    height: 600px;
	background-image: url("../pictures/woodtextur.jpg");
	padding-bottom: 400px;
        -moz-border-radius: 0 15px 15px 0;
-webkit-border-radius:35px 0 15px 15px 0;
border-radius:0 15px 15px 0;
      -webkit-box-shadow: 5px 5px 5px 3px #656565;
-moz-box-shadow: 5px 5px 5px 3px #656565;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='#656565', Positive='true');
zoom:1;
box-shadow: 5px 5px 5px 3px #656565;
}



h1 {
	font-size: 60px;
	/*font-weight: bold;*/
	margin-top: 100px;
	text-align: center;
}

#titre {
	padding-top: 35px;
    padding-left: 6px;
	font-size: 35px;
    font-family: 'Cabin Sketch', cursive;
    color:black;
}

.content {
	margin-top: 11%;
}

.content img {
	width: 350px;
	height: 290px;
	
}

.desc {
	width: 75%;
}

.thumbnail {

	width: 350px;
	height: 300px;
	margin: auto;
	margin-bottom: 50px;
}

